/* About Page for Mobile Mode - CSS
Programmer: Fangonilo & Joaquin */


*#dm *.dmBody div.u_1664025860{
padding-bottom:300px !important;
background-position:50% 50% !important}
*#dm *.dmBody div.u_1905712147{
padding-bottom:300px !important;
background-position:50% 50% !important}
*#dm *.dmBody div.u_1846821336{
padding-top:0 !important;
padding-bottom:0 !important}
*#dm *.dmBody div.u_1303959500{
padding-top:30px !important;
padding-bottom:30px !important}
*#dm *.dmBody div.u_1942303971{
float:none !important;
top:0 !important;
left:0 !important;
width:100% !important;
position:relative !important;
height:auto !important;
padding-top:2px !important;
padding-left:0 !important;
padding-bottom:2px !important;
margin-right:auto !important;
margin-left:auto !important;
max-width:calc(100% - 0px) !important;
margin-top:25px !important;
margin-bottom:8px !important;
padding-right:0 !important;
min-width:25px !important}
*#dm *.dmBody div.u_1592285403{
height:123px !important;
float:none !important;
top:0 !important;
left:0 !important;
width:197px !important;
position:relative !important;
padding-top:0 !important;
padding-left:0 !important;
padding-bottom:0 !important;
margin-right:auto !important;
margin-left:auto !important;
max-width:calc(100% - 39px) !important;
margin-top:0 !important;
margin-bottom:0 !important;
padding-right:0 !important;
min-width:25px !important;
text-align:center !important}
*#dm *.dmBody div.u_1166347053{
padding-top:30px !important;
padding-bottom:30px !important}
*#dm *.dmBody div.u_1419699729{
padding-top:0 !important;
padding-bottom:0 !important;
margin-bottom:20px !important}
*#dm *.dmBody div.u_1787129192{
padding-top:30px !important;
padding-bottom:30px !important}
*#dm *.dmBody div.u_1957958027{
padding-top:50px !important;
padding-bottom:50px !important;
background-position:50% 50% !important;
background-repeat:no-repeat !important;
background-size:cover !important}
*#dm *.dmBody div.u_1011943214{
padding-top:0 !important}
*#dm *.dmBody div.u_1475192403{
float:none !important;
top:0 !important;
left:0 !important;
width:100% !important;
position:relative !important;
height:auto !important;
padding-top:2px !important;
padding-left:0 !important;
padding-bottom:2px !important;
margin-right:auto !important;
margin-left:auto !important;
max-width:calc(100% - 0px) !important;
margin-top:0 !important;
margin-bottom:0 !important;
padding-right:0 !important;
min-width:25px !important}