/* Blog Page for Mobile Mode - CSS
Programmer: Fangonilo & Joaquin */

*#dm *.dmBody div.u_1620106714
{
	margin-left:0px !important;
	padding-top:0px !important;
	padding-left:0px !important;
	padding-bottom:0px !important;
	margin-top:0px !important;
	margin-bottom:0px !important;
	padding-right:0px !important;
	margin-right:0px !important;
}
*#dm *.d-page-1716942098 DIV.dmInner
{
	background-repeat:no-repeat !important;
	background-size:cover !important;
}
*#dm *.d-page-1716942098 DIV#dmSlideRightNavRight
{
	background-repeat:no-repeat !important;
	background-image:none !important;
	background-size:cover !important;
}
*#dm *.dmBody div.u_1657938911
{
	display:block !important;
	float:none !important;
	top:0px !important;
	left:0 !important;
	width:calc(100% - 0px) !important;
	position:relative !important;
	height:auto !important;
	padding-top:0px !important;
	padding-left:0px !important;
	padding-bottom:0px !important;
	margin-right:auto !important;
	margin-left:auto !important;
	max-width:100% !important;
	margin-top:11px !important;
	margin-bottom:0px !important;
	padding-right:0px !important;
	min-width:25px !important;
}
*#dm *.dmBody div.u_1213107879 *.postTitle a
{
	font-size:18px !important;
}
*#dm *.dmBody div.u_1024288330
{
	width:calc(100% - 23px) !important;
	display:block !important;
	float:none !important;
	top:0px !important;
	left:0 !important;
	position:relative !important;
	height:42px !important;
	padding-top:0px !important;
	padding-left:0px !important;
	padding-bottom:0px !important;
	max-width:296px !important;
	padding-right:0px !important;
	min-width:25px !important;
	text-align:center !important;
	margin-right:auto !important;
	margin-left:auto !important;
	margin-top:0px !important;
	margin-bottom:0px !important;
}
*#dm *.dmBody div.u_1243667655
{
	margin-left:0px !important;
	padding-top:50px !important;
	padding-left:15px !important;
	padding-bottom:50px !important;
	margin-top:0px !important;
	margin-bottom:0px !important;
	padding-right:15px !important;
	margin-right:0px !important;
	float:none !important;
	top:0 !important;
	left:0 !important;
	width:auto !important;
	position:relative !important;
	height:auto !important;
	max-width:100% !important;
	min-width:0 !important;
	text-align:center !important;
	background-repeat:no-repeat !important;
	background-size:cover !important;
	background-position:50% 50% !important;
}
*#dm *.dmBody div.u_1306608780
{
	padding-top:50px !important;
	padding-bottom:50px !important;
	margin-left:0px !important;
	padding-left:0px !important;
	margin-top:0px !important;
	margin-bottom:0px !important;
	margin-right:0px !important;
	padding-right:0px !important;
	width:auto !important;
}
*#dm *.dmBody div.u_1213107879
{
	float:none !important;
	top:0px !important;
	left:0 !important;
	width:calc(100% - 0px) !important;
	position:relative !important;
	height:auto !important;
	padding-top:0px !important;
	padding-left:0px !important;
	padding-bottom:0px !important;
	margin-right:auto !important;
	margin-left:auto !important;
	max-width:100% !important;
	margin-top:0px !important;
	margin-bottom:0px !important;
	padding-right:0px !important;
	min-width:25px !important;
	text-align:start !important;
}
