/* Header and Footer for Mobile Mode - CSS
Programmer: Fangonilo & Joaquin */


*#dm *.dmBody div.u_1694205906
{
	padding-top:0 !important;
	padding-left:0 !important;
	padding-bottom:0 !important;
	float:none !important;
	margin-right:auto !important;
	margin-left:auto !important;
	top:auto !important;
	max-width:960px !important;
	left:0 !important;
	width:100% !important;
	margin-top:0 !important;
	position:relative !important;
	margin-bottom:0 !important;
	padding-right:0 !important;
	min-width:0 !important;
	text-align:center !important;
	height:auto !important;
}
*#dm *.dmBody div.allWrapper .dmPopupInner
{
	margin-left:0px !important;
	padding-top:40px !important;
	padding-left:0px !important;
	padding-bottom:40px !important;
	margin-top:0px !important;
	margin-bottom:0px !important;
	margin-right:0px !important;
	padding-right:0px !important;
}
*#dm *.dmBody a.u_1297334202
{
	float:none !important;
	top:0px !important;
	left:0 !important;
	width:calc(100% - 34px) !important;
	position:relative !important;
	height:61px !important;
	padding-top:0px !important;
	padding-left:0px !important;
	padding-bottom:0px !important;
	margin-right:auto !important;
	margin-left:auto !important;
	max-width:251px !important;
	margin-top:23px !important;
	margin-bottom:10px !important;
	padding-right:0px !important;
	min-width:25px !important;
	text-align:center !important;
}
*#dm *.dmBody div.u_1699018429
{
	float:none !important;
	top:0px !important;
	left:0 !important;
	width:calc(100% - 0px) !important;
	position:relative !important;
	height:auto !important;
	padding-top:2px !important;
	padding-left:0px !important;
	padding-bottom:2px !important;
	margin-right:auto !important;
	margin-left:auto !important;
	max-width:100% !important;
	margin-top:35px !important;
	margin-bottom:8px !important;
	padding-right:0px !important;
	min-width:25px !important;
}
