/* Pop Ups - CSS
Programmer: Fangonilo & Joaquin */

*#dm *.dmBody a.span.textonly
{
	color:rgb(255,255,255) !important;
}
*#dm *.dmBody div.u_1694205906
{
	background-color:rgba(0,0,0,0) !important;
}
*#dm *.dmBody div.dmPopupInner
{
	background-color:rgb(255,255,255) !important;
	border-style:solid !important;
	border-width:0 !important;
	-webkit-box-shadow:0 0 10px rgba(0,0,0,0.30) !important;
	box-shadow:0 0 10px rgba(0,0,0,0.30) !important;
	-moz-box-shadow:0 0 10px rgba(0,0,0,0.30) !important;
	border-radius:10px !important;
	-moz-border-radius:10px !important;
	-webkit-border-radius:10px !important;
	background-image:none !important;
	background-repeat:no-repeat !important;
	background-size:cover !important;
	background-position:top right !important;
}
*#dm *.dmBody div.u_dm_content
{
	background-image:none !important;
}
*#dm *.dmBody *.allWrapper .dmPopupInner
{
	border-radius:0 !important;
	-moz-border-radius:0 !important;
	-webkit-border-radius:0 !important;
	box-shadow:none !important;
	-moz-box-shadow:none !important;
	-webkit-box-shadow:none !important;
}
*#dm *.dmBody nav.u_1144820115
{
	color:black !important;
}
*#dm *.dmBody a.u_1297334202
{
	background-repeat:no-repeat !important;
	background-image:none !important;
	background-size:cover !important;
}
*#dm *.dmBody div.u_1594819959
{
	background-repeat:no-repeat !important;
	background-image:url(https://irp.cdn-website.com/md/pexels/dms3rep/multi/pexels-photo-3812039.jpeg) !important;
	background-size:cover !important;
}
*#dm *.dmBody nav.u_1984001141
{
	color:black !important;
}
