/* Header and Footer for Desktop and tablet Mode - CSS
Programmer: Fangonilo & Joaquin */


*#dm *.dmBody div.u_dm_content
{
	padding-top:20px !important;
	padding-bottom:20px !important;
	padding-left:20px !important;
	padding-right:20px !important;
}
*#dm *.dmBody a.u_1297334202
{
	float:none !important;
	top:0px !important;
	left:0 !important;
	width:250px !important;
	position:relative !important;
	height:55px !important;
	padding-top:0px !important;
	padding-left:0px !important;
	padding-bottom:0px !important;
	margin-right:auto !important;
	margin-left:auto !important;
	max-width:254px !important;
	margin-top:22px !important;
	margin-bottom:10px !important;
	padding-right:0px !important;
	min-width:25px !important;
	text-align:center !important;
}
*#dm *.dmBody a.u_1297334202 span.text
{
	font-size:16px !important;
}
*#dm *.dmBody div.u_1694205906
{
	padding-top:30px !important;
	padding-left:0px !important;
	padding-bottom:30px !important;
	float:none !important;
	margin-right:0px !important;
	margin-left:0px !important;
	top:auto !important;
	max-width:none !important;
	left:0 !important;
	width:auto !important;
	margin-top:0px !important;
	position:relative !important;
	margin-bottom:0px !important;
	padding-right:0px !important;
	min-width:0 !important;
	text-align:center !important;
	height:auto !important;
}
*#dm *.dmBody div.allWrapper .dmPopupInner
{
	margin-left:0px !important;
	padding-top:50px !important;
	padding-left:20px !important;
	padding-bottom:40px !important;
	margin-top:0px !important;
	margin-bottom:0px !important;
	margin-right:0px !important;
	padding-right:20px !important;
}
*#dm *.dmBody div.u_1699018429
{
	float:none !important;
	top:0px !important;
	left:0 !important;
	width:calc(100% - 0px) !important;
	position:relative !important;
	height:auto !important;
	padding-top:2px !important;
	padding-left:0px !important;
	padding-bottom:2px !important;
	margin-right:auto !important;
	margin-left:auto !important;
	max-width:100% !important;
	margin-top:22px !important;
	margin-bottom:8px !important;
	padding-right:0px !important;
	min-width:25px !important;
}
*#dm *.dmBody div.u_1594819959
{
	margin-left:0 !important;
	padding-top:0 !important;
	padding-left:0 !important;
	padding-bottom:0 !important;
	margin-top:0 !important;
	margin-bottom:0 !important;
	margin-right:0 !important;
	padding-right:0 !important;
	background-repeat:repeat !important;
	background-size:auto !important;
	background-position:0% 0% !important;
}
