/* Visit Us Page for Desktop and Tablet Mode - CSS
Programmer: Fangonilo & Joaquin */

*#dm *.dmBody div.u_1972402936
{
	padding-left:0 !important;
	padding-right:0 !important;
	padding-top:0 !important;
	padding-bottom:0 !important;
}
*#dm *.dmBody div.u_1074009334
{
	padding-top:100px !important;
	padding-bottom:100px !important;
	padding-left:0 !important;
	padding-right:0 !important;
	background-attachment:initial !important;
	background-size:cover !important;
	float:none !important;
	top:0 !important;
	left:0 !important;
	width:100% !important;
	position:relative !important;
	height:auto !important;
	max-width:none !important;
	min-width:0 !important;
	text-align:start !important;
	background-position:50% 50% !important;
}
*#dm *.dmBody h5.u_1208424100
{
	display:block !important;
	float:none !important;
	top:0 !important;
	left:0 !important;
	width:100% !important;
	position:relative !important;
	height:auto !important;
	padding-top:2px !important;
	padding-left:0 !important;
	padding-bottom:2px !important;
	max-width:100% !important;
	padding-right:0 !important;
	min-width:0 !important;
	text-align:left !important;
}
*#dm *.dmBody h3.u_1208424100
{
	float:none !important;
	top:0 !important;
	left:0 !important;
	width:100% !important;
	position:relative !important;
	height:auto !important;
	padding-top:2px !important;
	padding-left:0 !important;
	padding-bottom:2px !important;
	margin-right:auto !important;
	margin-left:auto !important;
	max-width:calc(100% - 0px) !important;
	margin-top:62px !important;
	margin-bottom:8px !important;
	padding-right:0 !important;
	min-width:25px !important;
	text-align:left !important;
}
*#dm *.dmBody h5.u_1197215784
{
	float:none !important;
	top:0 !important;
	left:0 !important;
	width:667.984px !important;
	position:relative !important;
	height:auto !important;
	padding-top:2px !important;
	padding-left:0 !important;
	padding-bottom:2px !important;
	max-width:calc(100% - 0px) !important;
	padding-right:0 !important;
	min-width:25px !important;
	text-align:left !important;
	display:block !important;
}
*#dm *.dmBody h4.u_1197215784
{
	display:block !important;
	float:none !important;
	top:0 !important;
	left:0 !important;
	width:100% !important;
	position:relative !important;
	height:auto !important;
	padding-top:2px !important;
	padding-left:0 !important;
	padding-bottom:2px !important;
	max-width:100% !important;
	padding-right:0 !important;
	min-width:0 !important;
	text-align:center !important;
}
*#dm *.dmBody div.u_1198621796
{
	float:none !important;
	top:0 !important;
	left:0 !important;
	width:100% !important;
	position:relative !important;
	height:auto !important;
	padding-top:2px !important;
	padding-left:0 !important;
	padding-bottom:2px !important;
	max-width:calc(100% - 0px) !important;
	padding-right:0 !important;
	min-width:25px !important;
	display:block !important;
	margin-right:auto !important;
	margin-left:auto !important;
	margin-top:15px !important;
	margin-bottom:8px !important;
}
*#dm *.dmBody div.u_1197215784
{
	float:none !important;
	top:0 !important;
	left:0 !important;
	width:100% !important;
	position:relative !important;
	height:auto !important;
	padding-top:2px !important;
	padding-left:0 !important;
	padding-bottom:2px !important;
	margin-right:auto !important;
	margin-left:auto !important;
	max-width:calc(100% - 0px) !important;
	margin-top:19px !important;
	margin-bottom:8px !important;
	padding-right:0 !important;
	min-width:25px !important;
}
*#dm *.dmBody h5.u_1099434504
{
	float:none !important;
	top:0 !important;
	left:0 !important;
	width:667.984px !important;
	position:relative !important;
	height:auto !important;
	padding-top:2px !important;
	padding-left:0 !important;
	padding-bottom:2px !important;
	max-width:calc(100% - 0px) !important;
	padding-right:0 !important;
	min-width:25px !important;
	text-align:left !important;
	display:block !important;
}
*#dm *.dmBody h4.u_1099434504
{
	display:block !important;
	float:none !important;
	top:0 !important;
	left:0 !important;
	width:100% !important;
	position:relative !important;
	height:auto !important;
	padding-top:2px !important;
	padding-left:0 !important;
	padding-bottom:2px !important;
	max-width:100% !important;
	padding-right:0 !important;
	min-width:0 !important;
	text-align:center !important;
}
*#dm *.dmBody div.u_1287824084
{
	float:none !important;
	top:0 !important;
	left:0 !important;
	width:100% !important;
	position:relative !important;
	height:auto !important;
	padding-top:2px !important;
	padding-left:0 !important;
	padding-bottom:2px !important;
	max-width:calc(100% - 0px) !important;
	padding-right:0 !important;
	min-width:25px !important;
	display:block !important;
	margin-right:auto !important;
	margin-left:auto !important;
	margin-top:13px !important;
	margin-bottom:8px !important;
}
*#dm *.dmBody div.u_1099434504
{
	float:none !important;
	top:0 !important;
	left:0 !important;
	width:100% !important;
	position:relative !important;
	height:auto !important;
	padding-top:2px !important;
	padding-left:0 !important;
	padding-bottom:2px !important;
	max-width:calc(100% - 0px) !important;
	padding-right:0 !important;
	min-width:25px !important;
	margin-right:auto !important;
	margin-left:auto !important;
	margin-top:15px !important;
	margin-bottom:8px !important;
}
*#dm *.dmBody div.u_1679540090
{
	padding-top:0 !important;
	padding-left:30px !important;
	padding-bottom:0 !important;
	padding-right:30px !important;
}
*#dm *.dmBody div.u_1811145517
{
	padding-top:80px !important;
	padding-bottom:80px !important;
}
*#dm *.dmBody h5.u_1232160292
{
	display:block !important;
	float:none !important;
	top:0 !important;
	left:0 !important;
	width:100% !important;
	position:relative !important;
	height:auto !important;
	padding-top:2px !important;
	padding-left:0 !important;
	padding-bottom:2px !important;
	max-width:100% !important;
	padding-right:0 !important;
	min-width:0 !important;
	text-align:left !important;
}
*#dm *.dmBody h3.u_1232160292
{
	float:none !important;
	top:0 !important;
	left:0 !important;
	width:100% !important;
	position:relative !important;
	height:auto !important;
	padding-top:2px !important;
	padding-left:0 !important;
	padding-bottom:2px !important;
	margin-right:auto !important;
	margin-left:auto !important;
	max-width:calc(100% - 0px) !important;
	margin-top:62px !important;
	margin-bottom:8px !important;
	padding-right:0 !important;
	min-width:25px !important;
	text-align:left !important;
}
*#dm *.dmBody h5.u_1655454908
{
	float:none !important;
	top:0 !important;
	left:0 !important;
	width:667.984px !important;
	position:relative !important;
	height:auto !important;
	padding-top:2px !important;
	padding-left:0 !important;
	padding-bottom:2px !important;
	max-width:calc(100% - 0px) !important;
	padding-right:0 !important;
	min-width:25px !important;
	text-align:left !important;
	display:block !important;
}
*#dm *.dmBody h4.u_1655454908
{
	display:block !important;
	float:none !important;
	top:0 !important;
	left:0 !important;
	width:100% !important;
	position:relative !important;
	height:auto !important;
	padding-top:2px !important;
	padding-left:0 !important;
	padding-bottom:2px !important;
	max-width:100% !important;
	padding-right:0 !important;
	min-width:0 !important;
	text-align:center !important;
}
*#dm *.dmBody div.u_1727000137
{
	float:none !important;
	top:0 !important;
	left:0 !important;
	width:100% !important;
	position:relative !important;
	height:auto !important;
	padding-top:2px !important;
	padding-left:0 !important;
	padding-bottom:2px !important;
	max-width:calc(100% - 0px) !important;
	padding-right:0 !important;
	min-width:25px !important;
	display:block !important;
	margin-right:auto !important;
	margin-left:auto !important;
	margin-top:15px !important;
	margin-bottom:8px !important;
}
*#dm *.dmBody div.u_1655454908
{
	float:none !important;
	top:0 !important;
	left:0 !important;
	width:100% !important;
	position:relative !important;
	height:auto !important;
	padding-top:2px !important;
	padding-left:0 !important;
	padding-bottom:2px !important;
	margin-right:auto !important;
	margin-left:auto !important;
	max-width:calc(100% - 0px) !important;
	margin-top:19px !important;
	margin-bottom:8px !important;
	padding-right:0 !important;
	min-width:25px !important;
}
*#dm *.dmBody h5.u_1769414282
{
	float:none !important;
	top:0 !important;
	left:0 !important;
	width:667.984px !important;
	position:relative !important;
	height:auto !important;
	padding-top:2px !important;
	padding-left:0 !important;
	padding-bottom:2px !important;
	max-width:calc(100% - 0px) !important;
	padding-right:0 !important;
	min-width:25px !important;
	text-align:left !important;
	display:block !important;
}
*#dm *.dmBody h4.u_1769414282
{
	display:block !important;
	float:none !important;
	top:0 !important;
	left:0 !important;
	width:100% !important;
	position:relative !important;
	height:auto !important;
	padding-top:2px !important;
	padding-left:0 !important;
	padding-bottom:2px !important;
	max-width:100% !important;
	padding-right:0 !important;
	min-width:0 !important;
	text-align:center !important;
}
*#dm *.dmBody div.u_1349754717
{
	float:none !important;
	top:0 !important;
	left:0 !important;
	width:100% !important;
	position:relative !important;
	height:auto !important;
	padding-top:2px !important;
	padding-left:0 !important;
	padding-bottom:2px !important;
	max-width:calc(100% - 0px) !important;
	padding-right:0 !important;
	min-width:25px !important;
	display:block !important;
	margin-right:auto !important;
	margin-left:auto !important;
	margin-top:13px !important;
	margin-bottom:8px !important;
}
*#dm *.dmBody div.u_1769414282
{
	float:none !important;
	top:0 !important;
	left:0 !important;
	width:100% !important;
	position:relative !important;
	height:auto !important;
	padding-top:2px !important;
	padding-left:0 !important;
	padding-bottom:2px !important;
	max-width:calc(100% - 0px) !important;
	padding-right:0 !important;
	min-width:25px !important;
	margin-right:auto !important;
	margin-left:auto !important;
	margin-top:15px !important;
	margin-bottom:8px !important;
}
*#dm *.dmBody div.u_1707875556
{
	padding-top:0 !important;
	padding-left:30px !important;
	padding-bottom:0 !important;
	padding-right:30px !important;
}
*#dm *.dmBody div.u_1313132663
{
	padding-top:80px !important;
	padding-bottom:80px !important;
}
*#dm *.dmBody div.u_1486549327
{
	display:block !important;
	float:none !important;
	top:0 !important;
	left:0 !important;
	width:calc(100% - 103px) !important;
	position:relative !important;
	height:auto !important;
	padding-top:0 !important;
	padding-left:0 !important;
	padding-bottom:0 !important;
	margin-right:101px !important;
	margin-left:103px !important;
	max-width:232px !important;
	margin-top:18px !important;
	margin-bottom:0 !important;
	padding-right:0 !important;
	min-width:25px !important;
	text-align:center !important;
}
*#dm *.dmBody div.u_1667116758
{
	display:block !important;
	float:none !important;
	top:0 !important;
	left:0 !important;
	width:calc(100% - 94px) !important;
	position:relative !important;
	height:auto !important;
	padding-top:0 !important;
	padding-left:0 !important;
	padding-bottom:0 !important;
	margin-right:auto !important;
	margin-left:auto !important;
	max-width:231.6px !important;
	margin-top:18px !important;
	margin-bottom:0 !important;
	padding-right:0 !important;
	min-width:25px !important;
	text-align:center !important;
}
*#dm *.dmBody div.u_1660796702
{
	float:none !important;
	top:0px !important;
	left:0 !important;
	width:465.609px !important;
	position:relative !important;
	padding-top:0px !important;
	padding-left:0px !important;
	padding-bottom:0px !important;
	margin-right:auto !important;
	max-width:100% !important;
	margin-top:0px !important;
	margin-bottom:0px !important;
	padding-right:0px !important;
	min-width:0 !important;
	text-align:center !important;
	important:true !important;
	display:block !important;
	margin-left:auto !important;
	height:auto !important;
}
