/* Visit Us Page for Mobile Mode - CSS
Programmer: Fangonilo & Joaquin */


*#dm *.dmBody div.u_1074009334{
padding-top:50px !important;
padding-bottom:50px !important;
background-position:50% 50% !important;
background-repeat:no-repeat !important;
background-size:cover !important}
*#dm *.dmBody div.u_1788464876{
height:215px !important}
*#dm *.dmBody div.u_1208424100{
float:none !important;
top:0 !important;
left:0 !important;
width:100% !important;
position:relative !important;
height:auto !important;
padding-top:2px !important;
padding-left:0 !important;
padding-bottom:2px !important;
margin-right:auto !important;
margin-left:auto !important;
max-width:calc(100% - 0px) !important;
margin-top:0 !important;
margin-bottom:8px !important;
padding-right:0 !important;
min-width:25px !important}
*#dm *.dmBody div.u_1811145517{
padding-top:15px !important;
padding-right:15px !important;
padding-left:15px !important}
*#dm *.dmBody div.u_1679540090{
padding-top:30px !important;
padding-bottom:30px !important;
padding-right:0 !important;
padding-left:0 !important}
*#dm *.dmBody div.u_1707875556{
padding-top:30px !important;
padding-bottom:30px !important;
padding-right:0 !important;
padding-left:0 !important}
*#dm *.dmBody div.u_1313132663{
padding-right:15px !important;
padding-left:15px !important}
*#dm *.dmBody div.u_1000418572{
margin-left:0 !important;
padding-top:0 !important;
padding-left:0 !important;
padding-bottom:0 !important;
margin-top:0 !important;
margin-bottom:0 !important;
padding-right:0 !important;
margin-right:0 !important}
*#dm *.dmBody div.u_1197215784{
float:none !important;
top:0 !important;
left:0 !important;
width:100% !important;
position:relative !important;
height:auto !important;
padding-top:2px !important;
padding-left:0 !important;
padding-bottom:2px !important;
margin-right:auto !important;
margin-left:auto !important;
max-width:calc(100% - 0px) !important;
margin-top:30px !important;
margin-bottom:8px !important;
padding-right:0 !important;
min-width:25px !important}
*#dm *.dmBody div.u_1655454908{
float:none !important;
top:0 !important;
left:0 !important;
width:100% !important;
position:relative !important;
height:auto !important;
padding-top:2px !important;
padding-left:0 !important;
padding-bottom:2px !important;
margin-right:auto !important;
margin-left:auto !important;
max-width:calc(100% - 0px) !important;
margin-top:30px !important;
margin-bottom:8px !important;
padding-right:0 !important;
min-width:25px !important}
*#dm *.dmBody div.u_1099434504{
float:none !important;
top:0 !important;
left:0 !important;
width:100% !important;
position:relative !important;
height:auto !important;
padding-top:2px !important;
padding-left:0 !important;
padding-bottom:2px !important;
margin-right:auto !important;
margin-left:auto !important;
max-width:calc(100% - 0px) !important;
margin-top:20px !important;
margin-bottom:8px !important;
padding-right:0 !important;
min-width:25px !important}
*#dm *.dmBody div.u_1769414282{
float:none !important;
top:0 !important;
left:0 !important;
width:100% !important;
position:relative !important;
height:auto !important;
padding-top:2px !important;
padding-left:0 !important;
padding-bottom:2px !important;
margin-right:auto !important;
margin-left:auto !important;
max-width:calc(100% - 0px) !important;
margin-top:20px !important;
margin-bottom:8px !important;
padding-right:0 !important;
min-width:25px !important}
*#dm *.dmBody div.u_1672667830{
margin-left:auto !important;
padding-top:0 !important;
padding-left:0 !important;
padding-bottom:0 !important;
margin-top:0 !important;
margin-bottom:0 !important;
padding-right:0 !important;
margin-right:auto !important;
float:none !important;
top:0 !important;
left:0 !important;
width:100% !important;
position:relative !important;
height:auto !important;
max-width:calc(100% - 0px) !important;
min-width:25px !important}
*#dm *.dmBody div.u_1972402936{
padding-top:0 !important}
*#dm *.dmBody div.u_1667116758{
float:none !important;
top:0 !important;
left:0 !important;
width:calc(100% - 20px) !important;
position:relative !important;
height:auto !important;
padding-top:0 !important;
padding-left:0 !important;
padding-bottom:0 !important;
margin-right:auto !important;
margin-left:auto !important;
max-width:303px !important;
margin-top:10px !important;
margin-bottom:0 !important;
padding-right:0 !important;
min-width:25px !important;
text-align:center !important}